<h1>List Of Events:</h1>
{{#each data}}
<div class="card">
<div class="card-header">
<div class="card-body">
    <h5 class="card-title">Event Name: {{this.name}}</h5>
    <form action="/compdash/{{this._id}}" method="GET">
    <button type="submit" class="btn btn-success">View Details</button>
    </form>
</div>
</div>
</div>
{{/each}}