<div class="signup-form">
    <form action='/newcomp' method='POST'>
		<h2>This is My Event</h2>
		<div class="form-group">
        	<input type="name" class="" name="name" placeholder="Event name">
        </div>
        <div class="form-group">
            <button type="submit" class="bg-success align-centre">Create!</button>
        </div>
    </form>
{{!-- </div>
<form action="/action_page.php">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> --}}