</form>
<div class="signup-form">
    <form action='/register' method='POST'>
		<h2>Register Yourself</h2>
        <div class="form-group">
        	<input type="text"  name="name" placeholder="Username">
        </div>
		<div class="form-group">
        	<input type="email"  name="email" placeholder="Email Address">
        </div>
		<div class="form-group">
            <input type="password"  name="password" placeholder="Password">
            
        </div>
        <div class="form-group">
            <button type="submit" >Sign Up</button>
        </div>
    </form>
</div>